body {
  font-family: 'Gotham A', 'Gotham B', system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: -0.015em;
  line-height: 1.65;
  margin: 20px;
  color: #384046;
}

a {
  cursor: pointer;
  color: #8900e1;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid #57068c;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
}

footer {
  color: #7a8c97;
  font-size: 0.75rem;
}

.center,
h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.split {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pull-left {
  min-width: 40%;
  display: flex;
  justify-content: flex-end;
}

.pull-right {
  min-width: 50%;
}

button {
  appearance: none;
  align-items: center;
  color: #fff;
  background: #000;
  display: inline-flex;
  width: 100px;
  height: 36px;
  padding: 0 24px;
  outline: none;
  border: 1px solid #000;
  font-size: 14px;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-weight: 100;
  position: relative;
  overflow: hidden;
  transition: border 0.2s, background 0.2s, color 0.2s ease-out;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  line-height: 0;

  height: 24px;
  width: 100px;
  padding: 0 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ebedef;
  color: #666;
}

button:hover {
  color: #000;
  border-color: #000;
  background: #fff;
}

.input-outer-wrapper {
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ebedef;
  display: inline-flex;
  height: 36px;
  position: relative;
  transition: border 0.2s ease, color 0.2s ease;
  vertical-align: middle;
  width: 100%;
}

.input-outer-wrapper:hover {
  box-shadow: 0 2px 6px #dde1e4;
  border-color: #dde1e4;
}

.input-inner-wrapper {
  display: block;
  margin: 4px 10px;
  position: relative;
  width: 100%;
}

.input-inner-wrapper input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 28px;
  outline: 0;
  width: 100%;
}

.select-wrapper {
  appearance: none;
  color: #000;
  background: #fff;
  display: inline-flex;
  height: 36px;
  outline: none;
  border: 1px solid #ebedef;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: border 0.2s, background 0.2s, color 0.2s ease-out,
    box-shadow 0.2s ease;
  border-radius: 6px;
  white-space: nowrap;
  line-height: 0;
  width: auto;
  min-width: 100%;
}

.select-wrapper:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-color: #dde1e4;
}

.select-arrow {
  border-left: 1px solid #ebedef;
  background: #fff;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  height: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  color: #000;
  line-height: 40px;
  font-family: inherit;
  font-size: 14px;
  margin-right: -20px;
  width: calc(100% + 20px);
  padding: 0 76px 0 16px;
  text-transform: none;
}

.field {
  margin: 1rem 5rem;
}

.field-label {
  display: inline-block;
  width: 8rem;
  margin-right: 1rem;
  text-align: right;
}

.field-value {
  width: 200px;
  display: inline-block;
}

.toast-area {
  position: fixed;
  bottom: 10px;
  right: 20px;
  max-width: 420px;
  z-index: 2000;
  transition: transform 0.4s ease;
}

.toast-outer {
  width: 420px;
  height: 72px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease;
  transform: translate3d(0, 130%, 0px) scale(1);
  animation: show-jsx-1861505484 0.4s ease forwards;
  opacity: 1;
}

.toast-inner {
  width: 420px;
  background: #384046;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  display: flex;
}

.toast-message {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-top: -1px;
  margin-left: 20px;
}

img {
  max-width: 100%;
  transition: all 0.3s ease-in 0s;
}

.image-wrapper {
  display: block;
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.2s ease;
  max-width: 100%;
}

.image-wrapper:hover {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  border-color: #dde1e4;
}

@media (max-width: 1000px) {
  .field {
    margin: 20px 10px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  .split {
    flex-wrap: wrap;
  }

  .field-label {
    width: 60px;
    font-size: 13px;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
